<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner v2.2.0</title>
    @*<link rel="shortcut icon" type="image/png" href="../../Scripts/vendor/jasmine-2.2.0/jasmine_favicon.png">*@
    <link href="~/Css/jasmine.css" rel="stylesheet"/>

    <script src="~/Scripts/jasmine.js"></script>
    <script src="~/Scripts/jasmine-html.js"></script>
    @*<script src="../../Scripts/vendor/jasmine-2.2.0/boot.js"></script>*@

    <!-- include source files to be tested here... -->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-mocks.js"></script>
    @*<script src="../../Scripts/respond.js"></script>*@

    <script src="~/js/angular-json.js"></script>

    <!-- include test spec files here... -->

</head>
<body>
</body>
</html>
